@model MvcRazorViews.ViewModels.SiteViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<h1>@Model.Nome</h1>

<p><b>Id:</b> @Model.Id</p>
<p><b>Descrição:</b> @Model.Descricao</p>
<p><b>Piso:</b> @Model.Piso</p>
<p><b>Tipo:</b> @Model.Tipo</p>
<p><b>Email: </b> @Model.Email</p>

<a href="/Admin/Delete/@Model.Id">Excluir comércio</a>
